<div class="container">

  <div class="col">
    <div class="" >
      <div class="text-center">
        <img src="/assets/udisquad.png" alt="" srcset="" width="200" height="200">
        <h3 class="text-body-secondary">Udi Squad</h3>
        <p class="text-body-secondary">Grupo de desenvolvedores independentes em Uberlândia.</p>
      </div>

      <form>
        <fieldset>

          <div class="mb-2">
            <div class="form-group">
              <label for="login" class="form-label mt-4">Login</label>
              <input type="text" id="email" class="form-control" aria-describedby="login" placeholder="Enter email" [formControl]="email">
            </div>
            <div class="form-group">
              <label for="password" class="form-label mt-2">Senha</label>
              <input type="password" id="senha" class="form-control" placeholder="Password" autocomplete="off" [formControl]="senha">
            </div>
          </div>

          <div class="text-end">
            <span class="mx-2">
              <a routerLink="/cadastrar" href="/cadastrar" >Cadastrar</a>
            </span>
            <button type="button" class="btn btn-primary" (click)="logar()">Logar</button>
          </div>

        </fieldset>
      </form>

    </div>
  </div>
</div>
